@font-face {
    font-style: normal;
    font-weight: 300;
    font-family: 'Geist-thin';
    src:
        url('../fonts/Geist-Thin.woff') format('woff'),
        url('../fonts/Geist-Thin.woff2') format('woff2');
}

@font-face {
    font-style: normal;
    font-weight: 400;
    font-family: 'Geist-light';
    src:
        url('../fonts/Geist-Light.woff2') format('woff'),
        url('../fonts/Geist-Light.woff2') format('woff2');
}

@font-face {
    font-style: normal;
    font-weight: 500;
    font-family: 'Geist-semi-bold';
    src:
        url('../fonts/Geist-SemiBold.woff') format('woff'),
        url('../fonts/Geist-SemiBold.woff2') format('woff2');
}

@font-face {
    font-style: normal;
    font-weight: 600;
    font-family: 'Geist-bold';
    src:
        url('../fonts/Geist-Bold.woff') format('woff'),
        url('../fonts/Geist-Bold.woff2') format('woff2');
}