footer {
    position: relative;
    height: 40px;
    background: url(../img/background/footer.png);
}

.footer__container {
    display: flex;
    justify-content: center;
}

.footer__container p {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -45%);

    text-align: center;
}

.footer__container--links {
    display: flex;
    position: absolute;
    top: 50%;
    right: 250px;
    transform: translate(0%, -50%);

    gap: 15px;
}

@media (max-width:500px) {
    .footer__container p {
        display: none;
    }

    .footer__container--links {
        position: static;
        transform: translate(0%, 17%);
    }
}