header {
    display: flex;
    justify-content: space-between;
    height: 65px;

    padding-left: 250px;
    padding-right: 250px;
    /* background-color: var(--dark-text-color); */
    background: url(../img/background/header.png);
}

header a {
    display: flex;
    align-items: center;
}

.header_navigation {
    display: flex;
    align-items: center;
    gap: 80px;
    z-index: 1;
    text-transform: uppercase;
    font-size: 16px;
}

.header_navigation a:hover {
    color: var(--highlights-color);
}