main {
    display: flex;
    padding: 100px 250px;
    background-image: url(../img/background/mainBg.png);
}

.greeting {
    display: flex;
    flex-direction: column;

    width: 100%;
}

.greeting__content {
    display: flex;
    justify-content: space-between;

}

.greeting__content span {
    color: var(--highlights-color);
}

.greeting__content img {
    height: 291px;

    border: none;
    border-radius: 3px;
}

.greeting__button {
    padding: 17px 40px;

    background-color: var(--dark-text-color-opacity);
    border: none;
    border-radius: 3px;
}