@import url('normalize.css');
@import url('header.css');
@import url('home.css');
@import url('policy.css');
@import url('footer.css');

:root {
    --light-text-color: #FFF;
    --dark-text-color: #313131;
    --dark-text-color-opacity: rgba(49, 49, 49, 0.7);
    --highlights-color: #F0A731;
    --highlights-color-opacity: rgba(240, 167, 49, 0.7);
}

* {
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'PT Mono', monospace;

    color: var(--main-text-color);
    background-color: var(--main-bg-color);
}

body::-webkit-scrollbar {
    width: 10px;
}

body::-webkit-scrollbar-track {
    background: var(--dark-text-color);
}

body::-webkit-scrollbar-thumb {
    background-color: var(--highlights-color);
    border-radius: 2px;
}

a {
    font-size: 16px;

    text-decoration: none;
    color: var(--light-text-color);
}

p {
    font-size: 16px;

    color: var(--light-text-color);
}

h1 {
    font-size: 55px;

    color: var(--light-text-color);
}

h2 {
    font-size: 55px;

    color: var(--highlights-color);
}

h3 {
    font-size: 35px;

    color: var(--highlights-color);
}

textarea::-webkit-scrollbar {
    width: 5px;
}

textarea::-webkit-scrollbar-track {
    background: var(--dark-text-color);
}

textarea::-webkit-scrollbar-thumb {
    background-color: var(--highlights-color);
    border-radius: 1px;
}

@media (max-width: 500px) {
    a {
        font-size: 12px;
    }

    h1 {
        font-size: 14px;
    }

    h2,
    h3 {
        font-size: 16px;
    }
}