@import url('normalize.css');
@import url('header.css');
@import url('home.css');
@import url('footer.css');

:root {
    --light-text-color: #FFF;
    --dark-text-color: #313131;
    --dark-text-color-opacity: rgba(49, 49, 49, 0.7);
    --highlights-color: #F0A731;
}

* {
    padding: 0;
    margin: 0;
}

body {
    font-family: 'PT Mono', monospace;

    color: var(--main-text-color);
    background-color: var(--main-bg-color);
}

a {
    font-size: 16px;

    text-decoration: none;
    color: var(--light-text-color);
}

p {
    font-size: 16px;

    color: var(--light-text-color);
}

h1 {
    font-size: 55px;

    color: var(--light-text-color);
}