.thankyou {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;
}

.thankyou__title {
    font-family: 'Geist-semi-bold', sans-serif;
    font-size: 40px;
}

.thankyou p {
    margin-top: 20px;

    font-family: 'Geist-thin', sans-serif;
    font-size: 27px;
}

@media (max-width: 660px) {
    .thankyou__title {
        font-size: 35px;
    }

    .thankyou p {
        margin-top: 20px;

        font-size: 20px;
    }
}


@media (max-width: 565px) {
    .thankyou__title {
        font-size: 30px;
    }

    .thankyou p {
        margin-top: 15px;

        font-size: 17px;
    }
}

@media (max-width: 500px) {
    .thankyou__title {
        font-size: 25px;
    }

    .thankyou p {
        margin-top: 13px;

        font-size: 17px;
    }
}